
  @import "variables";
  @import "header";
  @import "imgCarrusel";
  @import "contenedoresIndex";
  @import "footer";
 
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size:$fuenteBody;
  }

 
  
  