
  @import "variables";
  @import "header";
  @import "imgCarrusel";
  @import "contenedoresIndex";
  @import "footer";
 
* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-size:$fuenteBody;
  }

  
  $estilo: (color:uppercase, tamFuente:1.4rem);

  .mayuscula {
    text-transform: map-get($estilo, color);
    font-size: map-get($estilo, tamFuente);
  }

h2 {
  font-weight: bold;
  @extend .mayuscula;
}

@mixin primerParrafo {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem;
}

.mixin {
  @include primerParrafo;
}


